body {
  overflow: hidden;
}

.menu {
  position: absolute;
  top: 0;
  right: -50vw;
  width: 50vw;
  height: 100vh;
  background: orange;
  transition: all 0.5s ease-in-out;
}

.menu.is--active {
  transform: translateX(-100%);
}

.menu-button {
  position: relative;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-decoration: none;
  z-index: 10;
}
